.projects_wrapper .numbered-heading {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
        transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    white-space: nowrap;
    font-family: 'Calibre', sans-serif;
    font-weight: 500;
}

.projects_wrapper .numbered-heading::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: '0' counter(section) '.';
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400;
}

.projects_wrapper .numbered-heading::after {
    content: '';
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.featured__projects {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.featured__projects .project {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.featured__projects .project:not(last-of-type) {
    margin-bottom: 100px;
}

.featured__projects .project:nth-of-type(2n + 1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

.featured__projects .project .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.featured__projects .project .project-overline {
    margin: 10px 0px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

.featured__projects .project .project-title {
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
}

.featured__projects .project .project-title a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
    z-index: 1;
    font-family: 'Calibre', sans-serif;
    font-weight: 500;
}

.featured__projects .project .project-description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
    font-family: 'Calibre', sans-serif;
    line-height: 23px;
}

.featured__projects .project .project-description p:last-child,
p:last-of-type {
    margin: 0px;
}

.featured__projects .project .project-description a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
}

.project .project-description a::after {
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5;
}

.project .project-description a:hover,
.project .project-description a:focus,
.project .project-description a:active {
    color: var(--green);
    outline: 0px;
}

.project .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.project:nth-of-type(2n + 1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.project:nth-of-type(2n + 1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.project .project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}

.project .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);
}

.project:nth-of-type(2n + 1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

.project .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}

.project .project-links a svg {
    width: 20px;
    height: 20px;
    fill: none;
}

.project:nth-of-type(2n + 1) .project-image {
    grid-column: 1 / 8;
}

.project .project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.project .project-image a {
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: var(--border-radius);
    vertical-align: middle;
}

.project .project-image a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.project .project-image a:hover,
.project .project-image a:focus {
    background: transparent;
    outline: 0px;
}

.featured__projects a:hover::after,
.featured__projects a:focus::after {
    color: var(--green);
    outline: 0px;
    width: 100%;
}

.project .project-image a:hover::before,
.project .project-image a:focus::before,
.project .project-image a:hover .img,
.project .project-image a:focus .img {
    background: transparent;
    filter: none;
}

.gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.project .project-image .img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
}

.gatsby-image-wrapper-constrained {
    display: inline-block;
}

.gatsby-image-wrapper {
    position: relative;
    overflow: hidden;
}

img[alt=''],
img:not([alt]) {
    filter: blur(5px);
}

.gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    transform: translateZ(0);
    transition: opacity 0.25s linear;
    will-change: opacity;
    opacity: 0;
}

@media screen and (max-width: 1080px) {
    .featured__projects .project:nth-of-type(2n + 1) .project-content {
        grid-column: 5 / -1;
    }
}

@media screen and (max-width: 768px) {
    .featured__projects .project {
        margin-bottom: 70px;
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        transition: var(--transition);
    }

    .featured__projects .project:not(last-of-type) {
        margin-bottom: 100px;
    }

    .featured__projects .project .project-content {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        z-index: 5;
    }

    .featured__projects .project:nth-of-type(2n + 1) .project-content {
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
    }

    .featured__projects .project .project-title {
        margin: 0px 0px 20px;
        color: var(--white);
    }

    .featured__projects .project .project-title a {
        position: static;
    }

    .project .project-title a::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    .featured__projects .project .project-description {
        padding: 20px 0px;
        background-color: transparent;
        box-shadow: none;
    }

    .project:nth-of-type(2n + 1) .project-tech-list {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    .project .project-tech-list {
        margin: 10px 0;
    }

    .project .project-tech-list li {
        margin: 0 10px 5px 0;
        color: var(--lightest-slate);
    }

    .project:nth-of-type(2n + 1) .project-tech-list li {
        margin: 0px 10px 5px 0px;
    }

    .project:nth-of-type(2n + 1) .project-links {
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: 0px;
    }

    .project:nth-of-type(2n + 1) .project-image {
        grid-column: 1 / -1;
    }

    .project .project-image {
        grid-column: 1 / -1;
        height: 100%;
        opacity: 0.25;
    }

    .project .project-image .img {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
    }

    @media screen {
        .projects_wrapper {
            padding: 0;
        }
    }
}