
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

section {
    margin: 0 auto;
    max-width: 1000px;
    padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

p:last-child,
p:last-of-type {
    margin: 0px;
}

body {
    background-color: var(--navy);
}

@font-face {
    font-family: Calibre;
    font-weight: 400;
    src: url("./assets/fonts/CalibreRegular.otf") format("opentype");
}

@font-face {
    font-family: Calibre;
    font-weight: 700;
    src: url("./assets/fonts/CalibreBold.otf") format("opentype");
}
@font-face {
    font-family: Calibre;
    font-weight: 500;
    src: url("./assets/fonts/CalibreSemibold.otf") format("opentype");
}

@font-face {
    font-family: Calibre;
    font-weight: 500;
    src: url("./assets/fonts/CalibreSemibold.otf") format("opentype");
}

@font-face {
    font-family: Calibre;
    font-weight: 600;
    src: url("./assets/fonts/CalibreBold.otf") format("opentype");
}

@media screen and (max-width: 768px) {
    section {
        padding: 80px 0px;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding: 40px 0px;
    }
}